@import "bourbon/bourbon";
@import "neat/neat";
@import "navigation";

body {
  // position: absolute;
  // top: 0; bottom: 0; left: 0; right: 0;
  // height: 100%;
  // line-height: 1.4;
}

////////////////////

#hero1 {
  text-align: center;
  background: tomato;
  padding: 5em 0;
  height: 100vh;
  display: flex;
  
  #hero1-content {
    margin: auto;
    max-width: 38em;
  }
}

.container1 {
  background: white;
  color: black;
  padding: 3em 0;
  width: 100%;

  .wrap {
    margin: auto; 
    max-width: 30rem;
  }
}

////////////////////

#hero2 {
  background: teal;
  position: fixed;
  text-align: center;
  width: 100%;
  padding: 5em 0;
  z-index: -1;
  height: 100vh;
  display: flex;

  #hero2-content {
    margin: auto;
    text-align: center;
    margin: auto;
    max-width: 30rem;
  }
}

.container2 {
  width: 100%;
  position: relative;
  top: 100vh;
  background: white;
  padding: 3em 0;
  color: black;

  .wrap {
    margin: auto; 
    max-width: 30rem;
  }
}

////////////////////

#hero3 {
  background: #999;
  width: 100%;
  padding: 5em 0;
  height: 100vh;
  display: flex;
  
  #hero3-content {
    margin: auto;
    text-align: center;
    margin: auto;
    max-width: 38em;
  }
}

.container3 {
  background: white;
  color: black;
  padding: 3em 0;

  .wrap {
    margin: auto; 
    max-width: 30rem;
  }
}

////////////////////

#hero4 {
  text-align: center;
  background: #FF3A5C;
  width: 100%;
  padding: 5em 0;
  height: 100vh;
  display: flex;
  
  #hero4-content {
    margin: auto;
    max-width: 38em;
  }
}

.container4 {
  background: white;
  color: black;
  padding: 3em 0;
  width: 100%;

  .wrap {
    background: white;
    max-width: 37rem;
    margin: auto; 
    padding: 2em;
  }

  .js-slide-up {
    margin-top: -5em;
  }
}

////////////////////

#hero5 {
  text-align: center;
  position: relative;
  width: 100%;

  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.5);
    display: block;
  }

  img,
  video {
    height: auto;
    width: 100%;
  }

  .hero-video {
    width: 100%;
  }

  .hero-video video {
    display: none;
  }

  @media (min-width: 769px), (min-device-width: 769px) {
    .hero-video img {
      display: none;
    }
    
    .hero-video video {
      display: block;
    }
  }

  #hero5-content {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    max-width: 38em;
  }
}

.container5 {
  background: white;
  color: black;
  padding: 3em 0;
  width: 100%;

  .wrap {
    background: white;
    max-width: 37rem;
    margin: auto; 
    padding: 2em;
  }
}
