<%= partial "nav" %>

<div id="hero2">
  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae vitae recusandae. Lorem iptatibus illum fuga et iure veniam sequi vel libero ab quo architecto atque ratione.</h3>
</div>

<div class="container2" id="container2">
  <%= partial "content" %>
</div>


<script>
  function fadeIn(el, display){
    el.style.opacity = 0;
    el.style.display = display || "block";

    (function fade() {
      var val = parseFloat(el.style.opacity);
      if (!((val += .1) > 1)) {
        el.style.opacity = val;
        requestAnimationFrame(fade);
      }
    })();
  }

  $(document).scroll(function(){
    var container2TopToPageTop = $("#container2").offset().top;
    var windowTopToPageTop = $(window).scrollTop();

    // fade out start
    var windowInnerHeight = window.innerHeight;
    var heroLeftOnScreen = container2TopToPageTop - windowTopToPageTop;
    var heroLeftOnScreenFrom1To0 = heroLeftOnScreen / windowInnerHeight;
    var heroLeftOnScreenFrom1To0Remainder = 1 - heroLeftOnScreenFrom1To0;
    document.getElementById("hero2").style.opacity= heroLeftOnScreenFrom1To0 - heroLeftOnScreenFrom1To0Remainder; // fade out end

    // nav color switch
    if (container2TopToPageTop < windowTopToPageTop) {
      $('#js-navigation a').css("color", "black"); 
    }
    if (container2TopToPageTop > windowTopToPageTop) {
      $('#js-navigation a').css("color", "white"); 
    } // nav color switch end
  });
</script>
















