<div id="hero">
  <h1>Hero</h1>
  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae vitae recusandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus dolores repellendus qui, perspiciatis amet ea necessitatibus illum fuga et iure veniam sequi vel libero ab quo architecto atque ratione tempora.</h3>
</div>
