<header class="navigation" id="js-navigation" role="banner">
  <div class="navigation-wrapper">    
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to 'one', '/one.html' %></li>
        <li class="nav-link"><%= link_to '2', '/2.html' %></li>
        <li class="nav-link"><%= link_to 'three', '/three.html' %></li>
      </ul>
    </nav>
  </div>
</header>
