<%= partial "nav" %>
<div id="hero1">
  <h1>Hero</h1>
  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae vitae recusandae. Lorem iptatibus illum fuga et iure veniam sequi vel libero ab quo architecto atque ratione tempora.</h3>
</div>

<div class="container1">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, est, fugit? Laboriosam hic minima, quasi sequi magni laudantium dolorem non, voluptatum repudiandae numquam magnam quidem quibusdam deleniti! Laboriosam commodi, impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, est, fugit? Laboriosam hic minima, quasi sequi magni laudantium dolorem non, voluptatum repudiandae numquam magnam quidem quibusdam deleniti! Laboriosam commodi, impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, est, fugit? Laboriosam hic minima, quasi sequi magni laudantium dolorem non, voluptatum repudiandae numquam magnam quidem quibusdam deleniti! Laboriosam commodi, impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, est, fugit? Laboriosam hic minima, quasi sequi magni laudantium dolorem non, voluptatum repudiandae numquam magnam quidem quibusdam deleniti! Laboriosam commodi, impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, est, fugit? Laboriosam hic minima, quasi sequi magni laudantium dolorem non, voluptatum repudiandae commodi, impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, est, fugit? Laboriosam hic minima, quasi sequi magni laudantium dolorem non, voluptatum repudiandae numquam magnam quidem quibusdam deleniti! Laboriosam commodi, impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, est, fugit? Laboriosam hic minima, quasi sequi magni laudantium dolorem non, voluptatum repudiandae numquam magnam quidem quibusdam deleniti! Laboriosam commodi, impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, est, fugit? Laboriosam hic minima, quasi sequi magni laudantium dolorem non, voluptatum repudiandae numquam magnam quidem quibusdam deleniti! Laboriosam commodi, impedit.</p>
</div>

<script>
  $(document).ready(function() {
    var windowInnerHeight = window.innerHeight
    var heroHeight = $('#hero1').height();
    var heroPadding = (windowInnerHeight - heroHeight) / 2;

    $('#hero1').css("padding-top", heroPadding);
    $('#hero1').css("padding-bottom", heroPadding);
    console.log(heroPadding);
  });
</script>
