<%= partial "nav" %>

<div id="hero4">
  <div id="hero4-content">
    <h1>Content preview animated up from bottom, hero covers entire screen until scroll.</h1>
  </div>
</div>

<div class="container4" id="container4">
  <%= partial "content" %>
</div>

<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
  $(document).ready(function() {
    $(".wrap").toggleClass("js-slide-up", 2000, "easeInOutExpo");
  });
</script>
