<%= partial "nav" %>

<div id="hero1">
  <div id="hero1-content">
    <h1>Hero text centered, covers entire screen until scroll. Nav changes color when hero is off the screen.</h1>
  </div>
</div>

<div class="container1" id="container1">
  <%= partial "content" %>
</div>

<script>
  $(document).scroll(function(){
    var container1TopToPageTop = $('#container1').offset().top;
    var windowTopToPageTop = $(window).scrollTop();

    // nav color switch
    if (container1TopToPageTop < windowTopToPageTop) {
      $('#js-navigation a').css("color", "black"); 
    }
    if (container1TopToPageTop > windowTopToPageTop) {
      $('#js-navigation a').css("color", "white"); 
    } // nav color switch end
  });
</script>
