<%= partial "nav" %>

<div id="hero6">
  <div id="hero6-content">
    <h1>Nav color changes from white to black after hero.</h1>
  </div>
</div>

<div class="container6" id="container6">
  <%= partial "content" %>
</div>

<script>
  $(document).scroll(function(){
    var windowTopToPageTop = $(window).scrollTop();
    var container6TopToPageTop = $('#container6').offset().top;

    // nav color switch
    if (container6TopToPageTop < windowTopToPageTop) {
      $('#js-navigation a').css("color", "black"); 
    }
    if (container6TopToPageTop > windowTopToPageTop) {
      $('#js-navigation a').css("color", "white"); 
    } // nav color switch end
  });
</script>
