<%= partial "nav" %>

<div id="hero3">
  <div id="hero3-content">
    <h1>Hero text fades out on scroll and covers entire screen until scroll. Nav changes color when hero is off the screen.</h1>
  </div>
</div>

<div class="container3" id="container3">
  <%= partial "content" %>
</div>

<script>
  function valBetween(v, min, max) {
    return (Math.min(max, Math.max(min, v)));
  }

  $(document).scroll(function(){
    var container3 = $('#container3');
    var container3TopToPageTop = $(container3).offset().top;
    var windowTopToPageTop = $(window).scrollTop();
    var windowInnerHeight = window.innerHeight;
    var heroLeftOnScreen = container3TopToPageTop - windowTopToPageTop;
    var heroLeftOnScreenFrom1To0 = heroLeftOnScreen / windowInnerHeight;
    var heroLeftOnScreenFrom1To0Remainder = 1 - heroLeftOnScreenFrom1To0;

    document.getElementById("hero3-content").style.opacity= heroLeftOnScreenFrom1To0 - heroLeftOnScreenFrom1To0Remainder;

    // nav color switch
    if (container3TopToPageTop < windowTopToPageTop) {
      $('#js-navigation a').css("color", "black"); 
    }
    if (container3TopToPageTop > windowTopToPageTop) {
      $('#js-navigation a').css("color", "white"); 
    } // nav color switch end
  });
</script>
