<%= partial "nav" %>

<div id="hero2">
  <div id="hero2-content">
    <h1>Hero is fixed, fades out on scroll and covers entire screen until scroll.</h1>
  </div>
</div>

<div class="container2" id="container2">
  <%= partial "content" %>
</div>


<script>
  function valBetween(v, min, max) {
    return (Math.min(max, Math.max(min, v)));
  }

  $(document).scroll(function(){
    var container2TopToPageTop = $('#container2').offset().top;
    var windowTopToPageTop = $(window).scrollTop();
    var windowInnerHeight = window.innerHeight;
    var heroLeftOnScreen = container2TopToPageTop - windowTopToPageTop;
    var heroLeftOnScreenFrom1To0 = heroLeftOnScreen / windowInnerHeight;
    var heroLeftOnScreenFrom1To0Remainder = 1 - heroLeftOnScreenFrom1To0;

    document.getElementById("hero2-content").style.opacity= heroLeftOnScreenFrom1To0 - heroLeftOnScreenFrom1To0Remainder;
  });
</script>
